.img-detail {
    width: 70%;
}

.img-mini {
    width: 20%;
}

@media (max-width: 768px) {
    .md-view {
        text-align: center;
    }
    .img-detail {
        width: 80%;
    }
    .img-mini{
        width: 40%
    }
}
